@use '../../utils/variables' as v;

footer {
  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: v.$primary-color;
}

.rules-wrap {
  width: 100%;
  max-width: 1250px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  margin-top: auto;

  .rule-text {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 4px;

    p {
      margin: unset;
    }

    a {
      &:hover {
        font-weight: 500;
        color: #af37eb;
      }
    }
  }
}