// FONTS
$montserrat: 'Montserrat', sans-serif;

// COLORS
$background-color: #E2E2E5;
$black-color: #0A0F09;
$gray-color: #cccccc;
$text-color: #454545;
$primary-color: #ff8176;
$accent-color: #1b9af0;
$white-color: #FFFFFF;
$lightpink-color: #fff1f1;
$warning-color: #F0665A;
$alert-color: #F2B642;
$success-color: #51BC4A;